.signin {
    margin-top: 30px;
    margin-left: 10%;
}

.Signup-with-Google {
    background: #c7d8ff;
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    text-align: center;
    padding: 8px 0px;
    color: #2B3674;
    font: 15px;
    font-weight: 300px;
}

.image-signin img {
    width: 100%;
    height: 100%;
    /* margin-top: 25%; */
}

@media (max-width: 768px) {
    .image-signin {
        display: none;
    }

    @media (max-width: 1168px) {
        .image-signin {
            display: none;
        }
    }
}